
.banner {
    background: url('../assets/banner.png') no-repeat center center;
    background-size: 100% 400px;
    height: 470px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

  